body{
    font-family: Arial, sans-serif;
    background:#f4f4f4;
    margin:0;
}

/* Container */
.contact-container{
    max-width:600px;
    margin:50px auto;
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0 4px 8px rgba(0,0,0,0.2);
}

/* Heading */
h1{
    text-align:center;
    margin-bottom:20px;
}

h2{
    margin-bottom:10px;
    color:blue;
}

/* Paragraph */
p{
    margin-bottom:15px;
    font-size:16px;
}

/* Link */
a{
    color:blue;
    text-decoration:none;
    font-weight:bold;
}

a:hover{
    text-decoration:underline;
    color:darkblue;
}
