/* ===== General Style ===== */
body{
    font-family: Arial, sans-serif;
    margin:0;
    background:#f4f4f4;
}

h1{
    text-align:center;
    padding:20px;
}

/* ===== FLEXBOX ===== */
.flex-container{
    display:flex;
    flex-wrap:wrap;
    gap:20px;
    padding:20px;
    justify-content:center;
}

.course-card{
    background:white;
    border-radius:10px;
    padding:20px;
    width:280px;
    box-shadow:0 4px 8px rgba(0,0,0,0.2);

    display:flex;
    flex-direction:column;
}

.course-card h2{
    margin-top:0;
}

.course-card p{
    flex-grow:1;
}

.btn{
    text-decoration:none;
    background:blue;
    color:white;
    padding:10px;
    text-align:center;
    border-radius:5px;
}

/* ===== GRID ===== */
.grid-container{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(250px,1fr));
    gap:20px;
    padding:20px;
}

.grid-card{
    background:white;
    border-radius:10px;
    padding:20px;
    box-shadow:0 4px 8px rgba(0,0,0,0.2);

    display:flex;
    flex-direction:column;
}

.grid-card h2{
    margin-top:0;
}

.grid-card p{
    flex-grow:1;
}
