body{
    font-family: Arial, sans-serif;
    background:#f4f4f4;
    margin:0;
}

/* Heading */
h1{
    text-align:center;
    margin-top:30px;
}

/* ===== Feedback Form ===== */
.feedback-form{
    max-width:400px;
    margin:30px auto;
    padding:20px;
    background:white;
    border-radius:10px;
    box-shadow:0 4px 8px rgba(0,0,0,0.2);
}

label{
    display:block;
    margin-bottom:5px;
    font-weight:bold;;
}

input, textarea, select{
    width:100%;
    padding:10px;
    margin-bottom:15px;
    border:1px solid #ccc;
    border-radius:5px;
    font-size:14px;
    box-sizing:border-box;
}

input:focus, textarea:focus, select:focus{
    border-color:blue;
    outline:none;
}

/* Button */
button{
    width:100%;
    padding:12px;
    background:blue;
    color:white;
    border:none;
    border-radius:5px;
    font-size:16px;
    cursor:pointer;
}

button:hover{
    background:darkblue;
}

/* ===== Table Style ===== */
table{
    width:80%;
    margin:40px auto;
    border-collapse:collapse;
    background:white;
    box-shadow:0 4px 8px rgba(0,0,0,0.2);
}

caption{
    font-size:20px;
    font-weight:bold;
    margin:10px;
}

th{
    background:blue;
    color:white;
    padding:12px;
    border:1px solid #ddd;
}

td{
    padding:12px;
    border:1px solid #ddd;
    text-align:center;
}

tr:nth-child(even){
    background:#f2f2f2;
}

tr:hover{
    background:#d6e4ff;
}
#full-name{ color: red;}

    
 @media screen and (  min-width: 250px and max-width: 550px) {
 }
 .body{
                background-color: orange;
                padding: 20px;
            }